p{
  font-weight: bold;
  font-size: 15px;
  top: 0;
  border-left: 10px;
}

#minutes{
  width: 140px;
}

#saveButton{
  background-color: Salmon;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 8px;
}

#stopButton{
  background-color: Gold;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 8px;
}
